*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.cabecalho{
    width: 100vw;
    position: fixed;
    padding: 10px;
    background-color: #000;
}
.cabecalho-logo{
    float: left;
    text-align: center;
    margin-left: 10em;
}
.topnav{
    list-style-type: none;
    margin-right: 10em;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
.topnav > a{
    float: right;
}
.topnav > a{
    margin-right: 10px;
    font-size: 20px;
    display: block;
    color: #ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav > a:hover, .dropdown:hover .dropbtn{
    background-color: #333333;
}
.active {
    background-color: #000;
    color: #ffff;
}
.topnav .icon{
    display: none;
}
.dropdown{
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 20px;
    border: none;
    outline: none;
    color: #ffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #000;
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: #ffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover{
    background-color: #333333;
}
.dropdown:hover .dropdown-content{
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: center;
    }
}



.conteudo-titulo > h1{
    margin-top: 60px;
    font-size: 65px;
    text-align: center;
}
.conteudo-titulo > p{
    font-size: 35px;
    text-align: center;
}

.conteudo-sobre{
    margin: 20px 0px;
}
.conteudo-sobre > h3{
    margin: 10px;
    font-size: 25px;
    text-align: center;
}
.conteudo-sobre > p{
    margin: 15px;
    font-size: 15px;
    text-align: justify;
    text-indent: 25px;
}

.conteudo-dev{
    margin: 20px 0px;
}
.conteudo-dev > header{
    margin: 15px;
    font-size: 25px;
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.flex-container > div > textarea{
    text-align: justify;
    border-style: none;
    text-decoration: none;
    text-indent: 25px;
}

.conteudo-sites{
    margin: 20px 0px;
}
.conteudo-sites > header{
    font-size: 25px;
    text-align: center;
}
#subtitulo{
    font-size: 20px;
    text-align: center;
}
.conteudo-sites > ul{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.conteudo-sites > ul > li{
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 0;
    box-sizing: border-box;
    height: 25%;
}
.conteudo-sites > ul > li:nth-child(odd){
    clear: both;
    float: left;
    width: 50%;
}
.sites-container{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.sites-container > div > header{
    font-size: 20px;
}
.sites-container > div > textarea{
    border-style: none;
    text-align: justify;
    font-size: 15px;
    text-indent: 25px;
}

.conteudo-linguagens{
    margin: 20px 0px;
}
.conteudo-linguagens > header{
    margin: 15px;
    font-size: 25px;
    text-align: center;
}
.imagens-linguagens{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.imagens-linguagens > div > details > textarea{
    border-style: none;
    text-align: justify;
    text-indent: 25px;
}

.rodape{
    padding: 10px;
    background-color: black;
    color: #ffff;
}
.rodape > header{
    font-size: 25px;
}
.rodape > p{
    font-size: 15px;
}
#direitos{
    text-align: center;
}